h1{background-color:bisque; color: rgb(27, 40, 180); text-align: center;}
body{background-color: rgba(163, 54, 4, 0.648);}
h2{background-color:bisque;  text-align: center; }
.html{ text-align: center; background-color:bisque;;}
#css{background-color:bisque; text-align: center;}
#iiuc{text-align: center;}
#wikicss{text-align: center; }
#wikihtml{text-align: center;}